{% load static %}
{% load custom_filters %}
<tr
    hx-target="this"
    hx-swap="outerHTML"
>    
    <td class="codigo_barras">{{ item.codigo_barras }}</td>
    <td class="descricao">{{ item.descricao }}</td>    
    <td class="tamanho">{{ item.tamanho }}</td>
    <td class="cor">{{ item.cor }}</td>
    <td class="quantidade">{{ quantidade }}</td>        
    <td class="preco">{{ quantidade|multiply:item.venda|currency }}</td>    
    <td>
        <button class="btn" hx-delete="{% url 'deletar_venda' item.codigo_barras %}" hx-confirm="Tem certeza que voce deseja Excluir o item?" hx-target="closest tr" hx-swap="outerHTML"><i class="btn bi bi-trash fs-4"></i></button>                
    </td>
</tr>
