{% load static %}  
<!-- Menu horizontal -->


    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded sticky-top" aria-label="Eleventh navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">JK Modas & Variedades</a>
          <p class="lead m-3">Olá, {{user.username}}!</p>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavBar" aria-controls="menuNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="menuNavBar">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Navegar</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'estoque' %}">Estoque</a></li>
                    <li><a class="dropdown-item" href="{% url 'vendas' %}">Vender</a></li>
                    <li><a class="dropdown-item" href="{% url 'clientes' %}">Clientes</a></li>
                    <li><a class="dropdown-item" href="#">Fornecedor</a></li>
                    <li><a class="dropdown-item" href="{% url 'dashboard' %}">Financeiro</a></li>
                    <li><a class="dropdown-item" href="#">Compras</a></li>                    
                    <li><a class="dropdown-item" href="#">Configurações</a></li>                    
                  </ul>
              </li>              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Meu Perfil</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <button class="btn-group btn-tertiary position-relative nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <i class="bi bi-bell-fill"></i>
                  <ul id="lista_notifications" class="dropdown-menu">
                    {% for notification in unread_notifications|slice:":10" %}
                        <li class="dropdown-item dropdown-link" hx-get="{% url 'marcar_notificacao_lida' notification.id %}" hx-trigger="revelead" hx-swap="afterend">                               
                            <span class="dropdown-header">{{ notification.title }}</span>                                  
                            <small class="dropdown-item-text fw-bold">{{ notification.mensagem }}</small>
                            <small class="text-muted">{{ notification.data_criacao|timesince }} atrás</small>                                
                        </li>
                        {% empty %}
                            <li><a class="dropdown-item" href="#">Nenhuma notificação</a></li>
                        {% endfor %}
                        {% if unread_notifications %}
                        <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item" hx-get="{% url 'marcar_todas_como_lida' %}" hx-trigger="click">Marcar como Lidas</a>
                          </li>
                        {% endif %}
                  </ul>
                  <span id="nNotifications" class="badge text-bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">{{contagem}}</span>
                </button>
              </li>
            </ul>                       
            <form role="search">
              <div class="input-group">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
              </div>
            </form>
            
          </div>
        </div>
      </nav>

<footer>  
    {% for message in messages %}
    <div>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    </div>
</footer>
