{% load static %}
{% load custom_filters %}
<tr
    hx-target="this"
    hx-swap="outerHTML"
>    
    <td>{{ object.codigo_barras }}</td>
    <td>{{ object.descricao }}</td>
    <td>{{ object.categoria }}</td>
    <td>{{ object.marca }}</td>
    <td>{{ object.tamanho }}</td>
    <td>{{ object.cor }}</td>
    <td>{{ object.quantidade }}</td>
    <td>{{ object.fornecedor }}</td>
    <td>{{ object.venda|currency}}</td>
    <td>
        <button class="btn" hx-delete="{% url 'deletar_produto' object.codigo_barras %}" hx-confirm="Tem certeza que voce deseja Excluir o item?" hx-target="closest tr" hx-swap="outerHTML"><i class="btn bi bi-trash fs-4"></i></button>                
    </td>
</tr>