{% extends 'partials/base.html'%}
{% load static %}
{% load custom_filters %}
{% load permission_tags %}
{% block content %}

<section id="messages"></section>
<div class="container-fluid py-5">        
    <div class="row g-3 mx-5">        
        <div class="col-12 col-lg-12">
            <div class="bg-custom card h-100">
                <div class="card-body d-flex justify-content-evenly align-items-center">
                    <form class="d-flex" role="search">
                        {% for field in filter.form %}
                        <div class="input-group pe-5">
                            {{ field }}
                            <button class="btn btn-outline-secondary"
                            type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        {% endfor %}
                        <!-- <div class="input-group pe-5">
                            <input type="number" placeholder="Desconto %" class="form-control">
                            <button class="btn btn-outline-success">
                                <i class="bi bi-percent"></i>
                            </button>
                        </div> -->
                        <div class="input-group pe-5">
                            <input type="number" placeholder="Quantidade" class="form-control" min="1" value="1" name="quantidade" id="quantidade">
                            <button class="btn btn-outline-success">
                                Qtd
                            </button>
                        </div>                                                
                    </form>
                  <button class="btn btn-success w-25 h-100" type="button" data-bs-toggle="modal" data-bs-target="#forma-pagamento">Finalizar Venda</button>
                </div>
            </div>
        </div>        
        <div class="col-12 col-lg-12">
            <div class="bg-custom card h-100">
                <div class="card-body d-flex flex-column align-items-center table-responsive table-container" style="min-height: 200px; max-height: 500px; overflow-y: auto;">
                    <table id="lista_item" class="table table-borderless align-middle">
                        <thead>
                          <tr>                                
                            <th scope="col">Código de Barras</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Tamanho</th>
                            <th scope="col">Cor</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Desconto</th>
                            <th scope="col">Ação</th>
                          </tr>
                        </thead>
                        {% include "vendas/partials/_table.html" %}
                    </table>                    
                    <div class="w-100 d-flex align-items-baseline justify-content-end">                        
                        <span class="lead text-success fs-1 fw-semibold ms-5" id="total_geral">R$ 0,00</span>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-12 col-lg-12">
           
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-custom card h-100">
                <div class="card-body">
                  <h6 class="lead card-title text-center">PESQUISAR VENDA</h6>
                  <form action="" class="row mb-3 g-2">
                    {% for field in filtro_venda.form %}
                      <div class="col-12">
                          <div class="form-floating my-3">
                              {{ field }}
                              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                          </div>
                      </div>
                    {% endfor %}
                      <div class="col-12">
                          <button class="btn btn-outline-dark w-100 h-100" type="submit" hx-post="{% url 'pesquisar_venda' %}" hx-target="#table_vendas" hx-swap="outerHTML">Pesquisar</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="bg-custom card h-100">
                <div class="card-body">
                  <h6 class="lead card-title text-center">CAIXA</h6>
                  {% if user|has_role:'gerente' %}
                    <form action="" class="row mb-3 g-2">
                      {% include 'vendas/partials/_caixa_template.html' with botoes_habilitados=True %}
                                                 
                    </form>
                  {% else %}
                  <p class="lead card-title text-center fs-4">Peça a um gerente para movimentar o caixa</p>
                  <form action="" class="row mb-3 g-2">
                    {% include 'vendas/partials/_caixa_template.html' with botoes_habilitados=False %}                         
                </form>
                  {% endif %}                     
                  <h4 class="card-title text-center mt-5">SALDO EM CAIXA</h4>
                    {% include 'vendas/partials/caixa_valor_inicial.html' %}                    
                </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">                
            <div class="card h-100">
              <div class="card-body ">
                <h6 class="lead card-title text-center fs-4 fw-bold">Movimentações do Dia</h6>
                {% if user|has_role:'gerente' %}
                  <canvas id="dashbord1" class="col-12">                      
                  </canvas>
                {% else %}
                <h6 class="lead card-title text-center fs-4">Você não tem permissão para ver isso</h6>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-12">
          <div class="bg-custom card h-100">              
              <!-- <table class="table table-borderless align-middle">
                  <thead>
                    <tr>                               
                        <th scope="col">Data</th>
                        <th scope="col">Descrição da Venda</th>
                        <th scope="col">Forma de Pagamento</th>
                        <th scope="col">Desconto</th>                         
                        <th scope="col">Total</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Troca</th>                          
                    </tr>
                  </thead>
                  {% if user|has_role:'gerente' %} -->
                    {% include 'vendas/partials/_table_vendas.html' %}
                  <!-- {% else %}
                  <p>Você não tem permissão para ver isso</p>
                  {% endif %}                      
                </table> -->              
          </div>
      </div>
    </div>    
</div>
{% include 'vendas/partials/_modal.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/venda.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
<script>
  window.onload = function(event){      
      renderiza_grafico1()        
  }
  
</script>



{% endblock %}