{% load custom_filters %}
<div class="card-body card1">
    <div class="row">
        <div class="col mt-0">
            <h5 class="card-title">Saídas do dia</h5>
        </div>
        <div class="col-auto">
            <div class="stat text-primary">
                <a style="cursor: pointer;"
                    hx-get="{% url 'card1_entradas' %}"
                    hx-swap="outerHTML"
                    hx-target=".card1">
                    <i class="bi bi-cash-coin fs-4 text-danger"></i>
                </a>
            </div>
        </div>
    </div>
    <h1 class="mt-1 mb-3 text-danger">{{saidas_dia|currency}}</h1>
    <div class="mb-0">
        <span class="text-danger">{{saidas_ontem|currency}}</span>
        <span class="text-muted">Desde de ontem</span>
    </div>
</div>