<div id="tabela_troca" class="table-container ms-5" style="max-height: 400px; overflow-y: auto;">
    <form>
        <table class="table table-striped table-hover table-borderless align-middle">
            <thead class="rounded-top sticky-top">
                <tr>                                    
                    <th>DATA</th>                    
                    <th>DESCRIÇÃO</th>
                    <th>CLIENTE</th>
                    <th>FORMA DE PAGAMENTO</th>
                    <th>DESCONTO</th>
                    <th>TOTAL</th>                                    
                </tr>
            </thead>
            {% include 'trocas/partials/_tabela_corpo_trocas.html' %}
        </table>
    </form>
</div>